 h1{
    text-align: center;
 }
 
 
 
 .container {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            padding: 20px;
        }

        .side1 {
            border: 1px solid #050505a5;
            border-radius: 10px;
            padding: 20px;
            width: 45%;
            background-color:rgb(237, 148, 148);
        }
        .side2 {
            border: 1px solid #050505a5;
            border-radius: 15px;
            padding: 20px;
            width: 45%;
            background-color:rgb(237, 148, 148);
        }

        form {
            display: flex;
            flex-direction: column;
            
        }

        label {
            margin-top: 10px;
        }

        input {
            margin-top: 5px;
            padding: 8px;
            font-size: 16px;
        }
        select {
            margin-top: 5px;
            padding: 8px;
            font-size: 16px;
        }
        textarea {
            margin-top: 5px;
            padding: 8px;
            font-size: 16px;
        }

        button {
            margin-top: 20px;
            padding: 10px;
            font-size: 16px;
            cursor: pointer;
        }
        button:hover {
            background-color: #15df5f;
            color: white;
        }
         .event-card {
            border: 1px solid #9e3535;
            padding: 10px;
            margin-top: 10px;
            border-radius: 8px;
            background-color: #993a3a;
            color: white;
        }