 body {
    background-color:#EEF4F8;
    margin: 0;
    padding: 0;
 }

 h1{
    text-align: center;
 }
 
 
 
 .container {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            padding: 20px;
        }

        .side1 {
            border: 1px solid #050505a5;
            border-radius: 10px;
            padding: 20px;
            width: 45%;
            background-color: #D9E2EC;
        }
        .side2 {
            border: 1px solid #050505a5;
            border-radius: 15px;
            padding: 20px;
            width: 45%;
            background-color: #D9E2EC;
        }

        form {
            display: flex;
            flex-direction: column;
            
        }

        label {
            margin-top: 10px;
        }

        input {
            margin-top: 5px;
            padding: 8px;
            font-size: 16px;
        }
        select {
            margin-top: 5px;
            padding: 8px;
            font-size: 16px;
        }
        textarea {
            margin-top: 5px;
            padding: 8px;
            font-size: 16px;
        }

        button {
            margin-top: 20px;
            padding: 10px;
            font-size: 16px;
            cursor: pointer;
        }
        button:hover {
            background-color:#7AA6C2;
            color: white;
            border:white solid 2px;
        }
         .event-card {
            border: 2px solid white;
            padding: 10px;
            margin-top: 10px;
            border-radius: 8px;
            background-color: #FFFFFF;
            color: #000000;
             transition: background-color 0.3s, color 0.3s, border 0.3s;
        }
        .event-card:hover{
            background-color: #7AA6C2;
            color: white;
            border:white solid 2px;
        }