 h1{
    text-align: center;
 }
 
 
 
 .container {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            padding: 20px;
        }

        .side1 {
            border: 1px solid #050505a5;
            border-radius: 10px;
            padding: 20px;
            width: 45%;
            background-color:rgb(237, 148, 148);
        }